:root {
  --bds-color-black: #000000;
  --bds-color-black-light: #222222;
  --bds-color-black-lighter: #2e2f30;
  --bds-color-gray-darker: #393B3B;
  --bds-color-gray-dark: #3d3d3d;
  --bds-color-gray: #666666;
  --bds-color-gray-medium: #979797;
  --bds-color-gray-light: #d8d8d8;
  --bds-color-gray-lighter: #dddddd;
  --bds-color-white-gray: #f2f2f2; 
  --bds-color-white: #fff;
  --bds-color-red: #ff053f;
  --bds-color-red-error-text: #ed5050;
  --bds-color-blue: #09f;
  --bds-color-green: #15c759;
  --bds-color-yellow: #feca43;
  --bds-color-yellow-dark: #ecb832;  
}
