:root {
  --black: #000000;
  --light-black: #222222;
  --lighter-black: #272727;
  --dark-black: #333333;
  --verylight-black: #3F4142;
  --white: #FFFFFF;
  --dark-white: #F8F8F8;
  --white-f2: #F2F2F2;
  --red: #FF053F;
  --dark-red: #ED5050;
  --persian-red: #CC3030;
  --blue: #009CFF;
  --avatar-blue: #09f;
  --light-blue: #8FD3FF;
  --green: #15C759;
  --light-green: #40E18B;
  --dark-green: #2AD178;
  --shark: #2e2f30;
  --grey: #666666;
  --dark-grey: #3d3d3d;
  --ligth-grey: #d8d8d8;
  --navbar-grey: #393B3B;
  --dusty-grey: #979797;
  --yellow: #FECA43;
  --middle-yellow: #ECB832;
  --dark-yellow: #FABD59;
  --orange: #FF9C00;
  --medium-grey: #dddddd;
}