/* Header */

.ant-page-header-heading-title {
  font-size: 16px !important;
  font-weight: 400 !important;
}

.ant-page-header-back-button:focus, .ant-page-header-back-button:hover {
  color: var(--bds-color-black) !important;
}

/* Tooltip */

.ant-tooltip-inner {
  color: var(--bds-color-black) !important;
  font-size: 12px !important;
}

/* Ghost Button */

.ant-btn-link {
  color: var(--bds-color-blue) !important;
}

/* Pagination */

.ant-pagination-item-active {
  border-color: var(--bds-color-black) !important;
}

.ant-pagination-item a {
  color: var(--bds-color-black) !important;
}

/* Select */

.ant-select-dropdown {
  top: 630px !important;
}

.ant-select-item-option {
  color: rgb(39, 39, 39) !important;
  display: block !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  list-style: none !important;
  text-align: left !important;
  padding: 20px 0px !important;
  margin: 0px 25px !important;
}

.antd-select-option {
  border-bottom: 1px solid #d7d7d7 !important;
}

.ant-select-selection-item {
  color: var(--bds-color-blue) !important;
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  font-weight: 700 !important;
  background-color: transparent !important;
}

.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  background-color: transparent !important;
}

/* Input */

.ant-input-affix-wrapper {
  border-right: none;
  border-radius: 8px;
  height: 41px !important;
}

.ant-input-group {
  height: 41px !important;
}

.ant-input-group-addon {
  border-left: none;
  border-radius: 8px;
  background-color: transparent !important;
}

.ant-input-lg {
  font-size: 14px !important;
  padding-left: 5px !important;
}

.ant-input-affix-wrapper:hover {
  border-color: #d9d9d9 !important;
}

.ant-input-affix-wrapper-focused {
  border-color: #d9d9d9 !important;
  box-shadow: none !important;
}

/* Dropdown */

.ant-dropdown-menu {
  margin: 25px 0 !important;
  padding: 4px 22px !important;
}

.ant-dropdown-menu-item {
  padding: 8px 12px !important;
}

.ant-dropdown-menu-item:hover {
  background-color: transparent !important;
}