@import url('./colors.css');
@import url('./custom-ant-design.css');
@import url('../components/Datepicker/Datepicker.custom.css');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif !important;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.display-block {
  display: block !important;
}
