.CalendarMonth_caption {
  text-transform: capitalize;
}

.CalendarDay__default {
  color: var(--bds-color-blue) !important;
}

.CalendarDay__selected {
  background: var(--bds-color-blue) !important;
  color: white !important;
}

.CalendarDay__hovered_span:hover,
.CalendarDay__hovered_span,
.CalendarDay__selected_span {
  background: var(--bds-color-blue-light) !important;
  color: var(--bds-color-white) !important;
  border: 1px solid #e4e7e7 !important;
}

.DayPicker_weekHeader_ul {
  text-transform: uppercase;
}

.DayPicker_weekHeader_ul > :first-child,
.DayPicker_weekHeader_ul> :last-child{
  visibility: hidden;
}

.DayPicker_weekHeader_ul> :first-child:first-letter,
.DayPicker_weekHeader_ul> :last-child:first-letter {
  visibility: visible;
  margin-left: 4px;
}

.CalendarDay__blocked_out_of_range,
.CalendarDay__blocked_out_of_range:active,
.CalendarDay__blocked_out_of_range:hover {
  color: #e4e7e7 !important;
}

.DateInput, .DateRangePickerInput_arrow {
  visibility: hidden;
}