h1 {
  font-family: 'Open Sans' !important;
  font-size: 5rem !important;
  font-weight: bolder !important;
}

h2 {
  font-family: 'Barlow' !important;
  font-size: 3rem !important;
  font-weight: bolder !important;
  color: grey !important;
}


a {
  font-size: 2rem !important;
}